<html>
    <head>
        <title>Nyako Page</title>
        <link rel="stylesheet" href="/statics/style.css">
        <meta name="viewport" content="width=device-width">
        <!--
        <meta name="viewport" content="height=device-height">
        <meta name="viewport" content="user-scalable=yes">
        -->
    </head>
    <body>
        <div id="maindiv">
            <img src="/statics/head2.png" alt="Head Image">
            <div id="bodydiv">
                <div class="titlediv">
                    <h1><code>Добавить страницу</code></h1>
                </div>
                <div class="contentdiv">
                    <div id="lista">
                        <a href="/">Главная страница</a>
                        <form action="/add_page" method="post">
                            <input type="text" name="text" placeholder="URL" class="form-control"></input>
                            <button type="submit" class="btn btn-primary">ADD</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>